@import "lib/_colors";

html, body {
  height: 100%;
}

body {
  background-color: $lightest-grey;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: $dark-grey;
  position: relative;
}

a {
  color: $blue;
  &:visited {
    color: $blue;
    text-decoration: none;
  }
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $light-blue;
  }
}